.btn {
  display: inline-block;
  padding: .8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}
.btn:active {
  opacity: 0.5;
  transition: 0.5s ease;
}
  // default btn
.btnDefault {
  @extend .btn;
  color: #ffffff;
  border: 1px solid #333333;
  background-color: #333333;
}

  // primary btn
.btnPrimary {
  @extend .btn;
  color: #ffffff;
  border: 1px solid #494ce8;
  background-color: #494ce8;
}

  // danger btn
.btnDanger {
  @extend .btn;
  color: #ffffff;
  border: 1px solid hsl(0, 48%, 48%);
  background-color: #b53f3f;
}

.btnWhite {
  @extend .btn;
  color: #333333;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

